@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@500;600&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



@font-face {
	font-family: "Ahsing";
	src: url("../public/fonts/Ahsing-Regular.otf");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Medium.ttf");
    }
  body{
    font-family:Montserrat ;
  }

  /* overrides scroll bar */
  body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body {
  background: #13181D;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

}
@layer components{
    .AllPading {
     @apply   max-w-7xl m-auto    
    }
    .layout {
        @apply px-5 py-7 md:px-10 md:py-10  
       }
     .Htext{
        @apply text-xl font-semibold leading-none tracking-tight text-gray-900  dark:text-white
     } 
     .box_padding{
        @apply px-5
     }
     .btn{
      @apply bg-green-600 w-full  p-2 rounded-xl hover:opacity-70 text-white
     }   
     .progressText{
      @apply text-white
     }
     .bg_btn_gr {
      @apply bg-gradient-to-r from-blue-500 to-pink-500
     }
     .globaldarktext {
      @apply text-[#827A8E]
     }
     .sidemanu {
      @apply  flex mb-2 justify-start items-center gap-4 pl-5 hover:bg-gray-900  p-2 rounded-md  cursor-pointer hover:shadow-lg m-auto
     }
     .sidebaricon {
      @apply text-2xl text-white group-hover:text-white hover:text-white
     }
     .sidebartext {
      @apply text-base text-white group-hover:text-white font-semibold 
     }
    .adminpanelcomponent{
      @apply relative bg-[#ebebeb] overflow-y-auto overflow-x-hidden flex-1 z-10 
    }
  .text_transparent_grcolor{
    @apply bg-gradient-to-r from-blue-500 to-pink-500 bg-clip-text text-transparent
  }
  .nav_link{
    @apply relative flex items-center gap-2 cursor-pointer rounded   dark:hover:bg-slate-800 p-4 transition-all
  }
  .btn_upperlayer{
    @apply bg-[#13181D] px-6 py-2  m-[2px] text_shadow hover:bg-white hover:text-black
  }
   
}

html{
    scroll-behavior:smooth !important;
}

.bg_gr{
  background: linear-gradient(109.55deg, #21B5FF 0%, #FF00B2 100%);
}
.rainbowborder {
  background: linear-gradient(270.04deg, #1D84FF -0.51%, #BC4BC7 86.95%)
}
element.style {
  background: black !important;
}
.rainbow-border {
  background: linear-gradient(270.04deg, #1D84FF -0.51%, #BC4BC7 86.95%);
  padding-top: 4px;
}
#dropdown{
  content: "";
    width: 1em;
    height: 1em;
    background: url(../public/icon/triangle.svg);
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: -8%;
    top: 39%;

}


  /* overrides scroll bar */
  #scrollbar::-webkit-scrollbar {
    width: 2px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.text_shadow{
  text-shadow: 0px 0px 17.7152px rgba(255, 255, 255, 0.5);
}
.pricecurrency-wrapper {
  background: linear-gradient(109.55deg, #21B5FF 0%, #FF00B2 100%);

}

.boost-stat {
  border-bottom: 2rem solid #262C33;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
}